
mat-form-field,
textarea{
  width: 100%;
}

mat-spinner{
  margin: auto;
}

input[type="file"] {

 visibility: hidden;

}
.image-preview{
   margin: 1rem 0;
   height: 5rem;
}
 .image-preview img{
   height:100%;
 }
